.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
.pub/
.pub-cache/
build/
coverage/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
